extends layout

block content
   div.container
       div.row
           div.col-lg-12.col-md-12.col-sm-12.col-xs-12
               form(action='/api/password',method='post')
                   div.panel.panel-danger
                       div.panel-heading
                           h3 this operate will send a random password to your email.
                       div.panel-body
                           div.form-group
                               div.clearfix
                                   div.pull-left
                                       label(for='email') email
                                   div.pull-right
                                       input.form-control#email(name='email',type='email',placeholder='input your email')
                               button.btn.btn-lg.btn-danger find password